*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e3a8a,#2563eb);
    color:white;
    line-height:1.6;
}

/* Menu */
header{
    background:rgba(0,0,0,0.7);
    padding:20px;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00e5ff;
}

/* Section Accueil */
.hero{
    text-align:center;
    padding:150px 20px 80px;
    animation:fadeIn 2s;
}

.hero img{
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid white;
    object-fit:cover;
    margin-bottom:20px;
    transition:0.5s;
}

.hero img:hover{
    transform:scale(1.1) rotate(5deg);
}

.hero h1{
    font-size:45px;
}

.hero p{
    font-size:20px;
    margin-top:15px;
}

/* Bouton */
.btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#00bcd4;
    color:white;
    text-decoration:none;
    border-radius:40px;
    transition:0.4s;
}

.btn:hover{
    background:white;
    color:#0f172a;
    transform:scale(1.08);
}

/* Sections */
section{
    padding:80px 10%;
}

h2{
    text-align:center;
    margin-bottom:40px;
    font-size:35px;
}

/* Cartes projets */
.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
}

.card{
    width:300px;
    background:white;
    color:black;
    border-radius:15px;
    overflow:hidden;
    transition:0.5s;
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card h3{
    padding:15px;
}

.card p{
    padding:0 15px 20px;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

/* Contact */
.contact{
    text-align:center;
}

.contact a{
    color:#00e5ff;
    text-decoration:none;
}

/* Pied de page */
footer{
    text-align:center;
    padding:20px;
    background:black;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
